.container{
  width: 80%;
  margin: 0 auto;
}
.content-wrapper{
  text-align: center;
}
.content-wrapper h2{
  margin-bottom: 50px;
  margin-top: 40px;
}
.btn{
  color: #ffffff;
  line-height: 31px;
  padding: 5px 22px;
  border: 0;
  margin: 10px;
  cursor: pointer;
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none !important;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.btn-success{
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-info {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.github-button-container{
  position: absolute;
  top: 10px;
  right: 10px;
}